[Unit]
Description=FlanaServerApi
After=network.target

[Service]
User=flanauser
WorkingDirectory=/opt/flanaserverapi/flanaserverapi
ExecStart=/opt/flanaserverapi/.venv/bin/gunicorn -c /opt/flanaserverapi/gunicorn.conf.py main:app

[Install]
WantedBy=multi-user.target
